
@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Redify Knock Knock API Test Project</h4>
        </div>
        <div class="panel-body">
            <p>This project consume web api service from <a href="https://knockknock.readify.net/">https://knockknock.readify.net/</a> and display the result.</p>          
        </div>
    </div>
</div>

